:root {
    --font-family: 'Poppins', sans-serif;
    --primary-color: #AAC936;
    --secondary-color: #0076ff;
    --gray-color: #808080
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;

    font-family: var(--font-family);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 7px 20px;
    /* background-color: red; */
}

.navbar .logo {
    height: 40px;
}

.banner {
    width: 400px;
}

.text-info {
    text-align: center;
}

.text-info .title {
    position: relative;
    font-size: 2em;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 2.5;
    color: var(--primary-color);
} 

.text-info .subtitle {
    font-size: 14px;
    color: var(--gray-color);
}
