:root {
    --font-family: 'Poppins', sans-serif;
    --primary-color: #AAC936;
    --secondary-color: #0076ff;
    --gray-color: #808080
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;

    font-family: var(--font-family);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 400px;
}

.text-info {
    text-align: center;
}

.text-info .title {
    position: relative;
    font-size: 2em;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 2.5;
    color: var(--primary-color);

    text-shadow: .05em 0 0 rgba(255, 0, 0, .75),
              -.05em -.025em 0 var(--primary-color),
              .025em .05em 0 var(--secondary-color);

    animation: glitch 525ms infinite;
} 

.text-info .title::before,
.text-info .title::after {
    content: attr(data-text);
    position: absolute;
    letter-spacing: 5px;
    top: 0;
    left: 0;
    opacity: .7;
}

.text-info .title::before {
    animation: glitch 675ms infinite;
    transform: translate(-.035em, -.025em);
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}

.text-info .title::after {
    animation: glitch 333ms infinite;
    transform: translate(.035em, .025em);
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
}

.text-info .subtitle {
    font-size: 14px;
    color: var(--gray-color);
}

@keyframes glitch {
    0% {
      text-shadow: .05em 0 0 rgba(255, 0, 0, .75),
                  -.05em -.025em 0 var(--primary-color),
                  .025em .05em 0 var(--secondary-color);
    }
    14% {
      text-shadow: .05em 0 0 rgba(255, 0, 0, .75),
                  -.05em -.025em 0 var(--primary-color),
                  .025em .05em 0 var(--secondary-color);
    }
    15% {
      text-shadow: -.05em -.025em 0 rgba(255, 0, 0, .75),
                  .025em .025em 0 var(--primary-color),
                  -.05em -.05em 0 var(--secondary-color);
    }
    49% {
      text-shadow: -.05em -.025em 0 rgba(255, 0, 0, .75),
                  .025em .025em 0 var(--primary-color),
                  -.05em -.05em 0 var(--secondary-color);
    }
    50% {
      text-shadow: .025em .05em 0 rgba(255, 0, 0, .75),
                  .05em 0 0 var(--primary-color),
                   0 -.05em 0 var(--secondary-color);
    }
    99% {
      text-shadow: .025em .05em 0 rgba(255, 0, 0, .75),
                  .05em 0 0 var(--primary-color),
                   0 -.05em 0 var(--secondary-color);
    }
    100% {
      text-shadow: -.025em 0 0 rgba(255, 0, 0, .75),
                  -.025em -.025em 0 var(--primary-color),
                  -.025em -.05em 0 var(--secondary-color);
    }
}